<?php

/**
 * This file is mean to specify all default settings.
 *
 * To use your customized config, you should copied this file into
 * "config.inc.php" and modify config in it.
 */

$config = [
    /**
     * The default viewer if the user has not set one.
     *
     * @value cloudview::VIEWER_GOOGLE_DOCS
     * @value cloudview::VIEWER_MICROSOFT_OFFICE_WEB
     */
    'default_viewer' => cloudview::VIEWER_MICROSOFT_OFFICE_WEB,

    // the salt added for hashing purpose
    'hash_salt' => 'CHANGE_THIS_FIELD_INTO_A_RANDOM_STRING',

    // for localhost dev test purpose
    'is_dev_mode' => false,
    'dev_mode_file_base_url' => 'https://4272fd88.ngrok.io/',
];
