#attachment-list li[data-with-cloudview] a.cloudview-preview-link {
  display: none
}
#attachment-list li[data-with-cloudview='1'] a.filename {
  padding-right: 0
}
#attachment-list li[data-with-cloudview='1'] a.cloudview-preview-link {
  cursor: pointer;
  padding: 0;
  margin-left: 3px;
  vertical-align: middle;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url('../images//preview.png');
  background-repeat: no-repeat;
  background-size: contain
}
#attachment-list li[data-with-cloudview='1'] a.cloudview-preview-link:hover {
  background-image: url('../images//preview-hovered.png')
}
#attachmentmenu li a.cloudviewlink {
  background-image: url('../images//toolbarmenu-cloudview-icon.png');
  background-position: 9px;
  background-repeat: no-repeat;
  background-size: 13px
}