#cloudview-form .sortable li {
  background: #ddd;
  border: 1px dashed #666;
  cursor: move;
  margin-bottom: .4em;
  padding: .2em .4em
}
#cloudview-form .sortable li.sortable-chosen {
  background: #ff6
}
#settings-sections .listitem.cloudview.selected a {
  background-image: url(../images/settings-icon-selected.png)
}
#settings-sections .listitem.cloudview a {
  background-image: url(../images/settings-icon.png);
  background-size: 20px;
  background-position: 8px
}
#cloudview-form table.propform {
  margin-bottom: 10px
}