#settings-sections .listitem.cloudview.selected a {
  background-image: url(images/settings-icon-selected.png)
}
#settings-sections .listitem.cloudview a {
  background-image: url(images/settings-icon.png);
  background-size: 20px;
  background-position: 8px
}
#cloudview-form table.propform {
  margin-bottom: 10px
}
.attachmentslist li[data-with-cloudview] a.cloudview-preview-link {
  display: none
}
.attachmentslist li[data-with-cloudview='1'] a.filename {
  padding-right: 45px
}
.attachmentslist li[data-with-cloudview='1'] a.cloudview-preview-link {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 20px;
  padding: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(images/preview.png);
  background-repeat: no-repeat;
  background-size: contain
}
.attachmentslist li[data-with-cloudview='1'] a.cloudview-preview-link:hover {
  background-image: url(images/preview-hovered.png)
}
ul.toolbarmenu li span.icon.cloudview {
  background-image: url(images/toolbarmenu-cloudview-icon.png);
  background-position: 3px;
  background-repeat: no-repeat;
  background-size: 14px
}