#settings-sections .listitem.cloudview.selected a {
  background-image: url(images/settings-icon-selected.png)
}
#settings-sections .listitem.cloudview a {
  background-image: url(images/settings-icon.png);
  background-size: 20px;
  background-position: 8px
}
#cloudview-form table.propform {
  margin-bottom: 10px
}