.listing.iconized li.cloudview > a:before {
  content: '\f06e'
}
#cloudview-form label {
  vertical-align: middle
}
.attachmentslist li[data-with-cloudview] a.cloudview-preview-link {
  display: none
}
.attachmentslist li[data-with-cloudview='1'] a.cloudview-preview-link {
  cursor: pointer;
  margin: 2px;
  padding: 0;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  background-image: url(images/preview.png);
  background-repeat: no-repeat;
  background-size: contain
}
.attachmentslist li[data-with-cloudview='1'] a.cloudview-preview-link:hover {
  background-image: url(images/preview-hovered.png)
}
.menu a.cloudview:before {
  content: '\f06e'
}